{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page de recherche</h1>

    {{ form(form) }}
    {% if news %}
        <div class="container">
            <div class="card-columns">
                {% for post in news %}
                    <div class="">
                        <div class="card panel-default ">
                            <div class="card-header">{{ post.title }}</div>
                            <div class="card-body">
                                {{ post.content }}
                            </div>
                            <a href="{{ path('news_show', {'slug': post.slug}) }}">Voir l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h2>Aucun contenu</h2>
    {% endif %}
{% endblock %}
